*{
    font-family: cursive;
}
.navbar{
    background-color: #0693e3;
    padding: 15px;
    top: 0;
}
a
{
    color: white;
  text-decoration: none;
}
.navbar a{
    margin-left: 10px;
}
body{
    margin: 40px;
}
.float-right{
    float: right;
}

.btn{
    padding: 3px 10px 5px 10px;
        border-radius: 5%;
}
.btn-primary{
    background-color: #2b4ad4;

}
.btn-warning{
    background-color: #2b4ad4;
    color: white;
}
